body {
    background-color: #0B132B;
    font-family: 'Comfortaa', cursive;
}
header{
    background-color: #6FFFE9;
}
 header nav li {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 40px;
}
aside{
    background-color: #1C2541;
    float: left;
    width: 30%;
    margin: 0px 0px 0px 20px;
    padding: 20px 10px;
    border-radius: 2%;
}
main{
    background-color: #3A506B;
    float: left;
    width: 60%;
    padding: 0px 10px;
    border-radius: 2%;
}

footer{
    background-color: #5BC0BE;
    width: 100%;
    float: left;
    text-align: center;
    margin: 20px 0px;
}
article, h2, aside li{
    color: aqua;
}
aside p, main p{
    color: dodgerblue;
}
header nav ul li:hover{
    color: #ffffff;
}
a{
    text-decoration: none;
}