@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body{
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: #30C5FF;
    background-color: #2A2D34;
}
#fecha{
    color: azure;
}